USE [CustomerSeven]
GO
/****** Object:  Table [dbo].[AdditionalTag]    Script Date: 06-02-2025 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalTag](
	[AdditionalTagId] [uniqueidentifier] NOT NULL,
	[Tag] [nvarchar](50) NOT NULL,
	[InventoryQuantityId] [uniqueidentifier] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateLastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_AdditionalTag] PRIMARY KEY CLUSTERED 
(
	[AdditionalTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQIX_AdditionalTag_Tag_InventoryQuantityId]    Script Date: 06-02-2025 19:44:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQIX_AdditionalTag_Tag_InventoryQuantityId] ON [dbo].[AdditionalTag]
(
	[Tag] ASC,
	[InventoryQuantityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdditionalTag] ADD  CONSTRAINT [DF_AdditionalTag_AdditionalTagId]  DEFAULT (newid()) FOR [AdditionalTagId]
GO
ALTER TABLE [dbo].[AdditionalTag] ADD  CONSTRAINT [DF_AdditionalTag_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[AdditionalTag] ADD  CONSTRAINT [DF_AdditionalTag_DateLastModified]  DEFAULT (getdate()) FOR [DateLastModified]
GO
ALTER TABLE [dbo].[AdditionalTag]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalTag_InventoryQuantity] FOREIGN KEY([InventoryQuantityId])
REFERENCES [dbo].[Inventory] ([InventoryId])
GO
ALTER TABLE [dbo].[AdditionalTag] CHECK CONSTRAINT [FK_AdditionalTag_InventoryQuantity]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: inventory_quantity_RFIDs_secondary.row_id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdditionalTag', @level2type=N'COLUMN',@level2name=N'AdditionalTagId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: inventory_quantity_RFIDs_secondary.RFID_tag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdditionalTag', @level2type=N'COLUMN',@level2name=N'Tag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: inventory_quantity_RFIDs_secondary.inventory_quantity_row_id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdditionalTag', @level2type=N'COLUMN',@level2name=N'InventoryQuantityId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: inventory_quantity_RFIDs_secondary.created_date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdditionalTag', @level2type=N'COLUMN',@level2name=N'DateCreated'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdditionalTag', @level2type=N'COLUMN',@level2name=N'DateLastModified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The AdditionalTag entity is used to store a list of one or more alternate tags for a given primary inventory tag.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdditionalTag'
GO
