USE [CustomerSeven]
GO
/****** Object:  Table [dbo].[BodyCoordinate]    Script Date: 06-02-2025 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyCoordinate](
	[BodyCoordinateId] [uniqueidentifier] NOT NULL,
	[SiteId] [uniqueidentifier] NOT NULL,
	[SideId] [uniqueidentifier] NOT NULL,
	[GenderCode] [nchar](1) NOT NULL,
	[XCoordinate] [decimal](18, 2) NOT NULL,
	[YCoordinate] [decimal](18, 2) NOT NULL,
	[Inactive] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateLastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_BodyCoordinate] PRIMARY KEY CLUSTERED 
(
	[BodyCoordinateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BodyCoordinate_GenderCode]    Script Date: 06-02-2025 19:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_BodyCoordinate_GenderCode] ON [dbo].[BodyCoordinate]
(
	[GenderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BodyCoordinate_SideId]    Script Date: 06-02-2025 19:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_BodyCoordinate_SideId] ON [dbo].[BodyCoordinate]
(
	[SideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BodyCoordinate_SiteId]    Script Date: 06-02-2025 19:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_BodyCoordinate_SiteId] ON [dbo].[BodyCoordinate]
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BodyCoordinate] ADD  CONSTRAINT [DF_BodyCoordinate_BodyCoordinateId]  DEFAULT (newid()) FOR [BodyCoordinateId]
GO
ALTER TABLE [dbo].[BodyCoordinate] ADD  CONSTRAINT [DF_BodyCoordinate_Inactive]  DEFAULT ((0)) FOR [Inactive]
GO
ALTER TABLE [dbo].[BodyCoordinate] ADD  CONSTRAINT [DF_BodyCoordinate_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[BodyCoordinate] ADD  CONSTRAINT [DF_BodyCoordinate_DateLastModified]  DEFAULT (getdate()) FOR [DateLastModified]
GO
ALTER TABLE [dbo].[BodyCoordinate]  WITH CHECK ADD  CONSTRAINT [FK_BodyCoordinate_Gender] FOREIGN KEY([GenderCode])
REFERENCES [dbo].[Gender] ([GenderCode])
GO
ALTER TABLE [dbo].[BodyCoordinate] CHECK CONSTRAINT [FK_BodyCoordinate_Gender]
GO
ALTER TABLE [dbo].[BodyCoordinate]  WITH CHECK ADD  CONSTRAINT [FK_BodyCoordinate_Side] FOREIGN KEY([SideId])
REFERENCES [dbo].[Side] ([SideId])
GO
ALTER TABLE [dbo].[BodyCoordinate] CHECK CONSTRAINT [FK_BodyCoordinate_Side]
GO
ALTER TABLE [dbo].[BodyCoordinate]  WITH CHECK ADD  CONSTRAINT [FK_BodyCoordinate_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
GO
ALTER TABLE [dbo].[BodyCoordinate] CHECK CONSTRAINT [FK_BodyCoordinate_Site]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'BodyCoordinateId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'SiteId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'SideId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'GenderCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'XCoordinate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'YCoordinate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'Inactive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'DateCreated'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy datasource: N/A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate', @level2type=N'COLUMN',@level2name=N'DateLastModified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The BodyCoordinate entity defines the relationship between the body Side and Site entities by gender.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BodyCoordinate'
GO
